.App {
  text-align: center;
}

.main-cont {
  background-color: #000000;
  background-size: cover;
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .main-cont {
    height: 100vh;
  }
}
.mini-cont {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width: 768px) {
  .mini-cont {
    max-width: 700px;
  }
}

@media screen and (min-width: 992px) {
  .mini-cont {
    max-width: 1110px;
  }
}

.search-cont {
  display: flex;
  padding: 20px;
}

.search-bar {
  width: 50%;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  border: solid 0.5px grey;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  width: 200px;
}

td {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

thead {
  display: flex;
  justify-content: space-around;
}

.failure-image {
  width: auto;
}

.heading {
  text-align: center;
  font-family: "Roboto";
  font-weight: 20px;
}
